@import '../../sass/utils/mixin';

.sectionDecorations {
    padding-top: 70px;
}

.decorationsContainer {
    padding: 20px;
}

.decorationsDescriptionContainer {
    padding: 20px;
    outline: 1px solid var(--primaryTextColor);
}

.decorations__title {
    text-align: center;
    font-family: Open Sans SemiBold;
    font-size: 20px;
    line-height: 1.38;
    margin-bottom: 20px;

    @include mq(tab) {
        font-size: 25px;
    }

}

.decorations__description {
    font-family: Open Sans Regular;
    font-size: 13px;
    line-height: 1.38;
    text-align: inherit;
    margin-bottom: 20px;

    @include mq(tab) {
        font-size: 18px;
    }
}

.decorations__list {
    margin-left: 20px;
    margin-bottom: 20px;
}

.decorations__listItem {
    font-family: Open Sans Regular;
    list-style: disc;
    margin-bottom: 10px;
}

.decorations__listSpan {
    font-family: Open Sans Medium;
    font-size: 18px;
    line-height: 1.38;

    @include mq(tab) {
        font-size: 25px;
    }
}

.decorationsPictureList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;

    @include mq(tab) {
        grid-gap: 20px;
    }
}

.decorations__listItemDescription {
    font-family: Open Sans Regular;
    font-size: 13px;
    line-height: 1.38;

    @include mq(tab) {
        font-size: 18px;
    }
}

.decorationsPictureList_img {
    width: 125px;

    @include mq(tab) {
        width: 340px;
        height: 340px;
    }
}