@import '../../sass/utils/mixin';

.sectionHero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0px 30px;
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);

  @include mq(tab) {
    padding: 160px 0px 30px;
  }

  @include mq(desk) {
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor);
  }
}

.hero__container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tab) {
    width: 700px;
  }
}

.hero__title {
  text-align: center;
  @include mq(mob-only) {
    font-family: Open Sans SemiBold;
    font-size: 20px;
    line-height: 1.38;
    margin-bottom: 20px;
  }

  @include mq(tab) {
    font-family: Open Sans SemiBold;
    font-size: 25px;
    line-height: 1.38;
    margin-bottom: 20px;
  }

  @include mq(desk) {
    max-width: 1250px;
  }
}

.hero__address {
  text-align: center;

  @include mq(mob) {
  font-family: Open Sans Regular;
  font-size: 15px;
  line-height: 1.38;
  width: 220px;
  margin: 0 auto;
  }

  @include mq(tab) {
    font-family: Open Sans Regular;
    font-size: 18px;
    line-height: 1.38;
    width: 700px;
  }
}