@import '../../sass/utils/mixin';

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0px 30px;
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);

  @include mq(tab) {
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor);
  }

  @include mq(desk) {
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor);
  }
}

.hero__container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  text-align: center;
  @include mq(mob-only) {
    font-family: Open Sans SemiBold;
    font-size: 20px;
    margin-bottom: 20px;
  }

  @include mq(tab) {
  }

  @include mq(desk) {
    max-width: 1250px;
  }
}

.hero__address {
  @include mq(mob) {
  font-family: Open Sans Regular;
  text-align: center;
  font-size: 15px;
  line-height: 1.38;
  width: 220px;
  margin: 0 auto;
  }
}