@import '../../sass/utils/mixin';

.sectionFreshFlowersWreath {
    background-color: var(--backgroundColor);
    padding-top: 70px;
}

.wreathsContainer {
    padding: 20px;
}

.freshFlowersWreathDescriptionContainer {
    padding: 20px;
    outline: 1px solid var(--primaryTextColor);
}

.freshFlowersWreath__title {
    text-align: center;
    font-family: Open Sans SemiBold;
    font-size: 20px;
    line-height: 1.38;
    padding-bottom: 20px;
    color: var(--primaryTextColor);

    @include mq(tab) {
        font-size: 25px;
    }

}

.freshFlowersWreath__description {
    font-family: Open Sans Regular;
    font-size: 13px;
    line-height: 1.38;
    text-align: inherit;
    color: var(--primaryTextColor);
    padding-bottom: 20px;

    @include mq(tab) {
        font-size: 18px;
    }
}

.freshFlowersWreath__list {
    padding-left: 20px;
    margin-bottom: 20px;
}

.freshFlowersWreath__listItem {
    font-family: Open Sans Regular;
    color: var(--primaryTextColor);
    list-style: disc;
    margin-bottom: 10px;
}

.freshFlowersWreath__listSpan {
    font-family: Open Sans Medium;
    font-size: 18px;
    line-height: 1.38;

    @include mq(tab) {
        font-size: 25px;
    }
}

.freshFlowersWreathPictureList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;

    @include mq(tab) {
        grid-gap: 20px;
    }
}

.freshFlowersWreath__listItemDescription {
    font-family: Open Sans Regular;
    font-size: 13px;
    line-height: 1.38;

    @include mq(tab) {
        font-size: 18px;
    }
}

.freshFlowersWreathPictureList_img {
    width: 125px;

    @include mq(tab) {
            width: 320px;
            height: 500px;
        }
}