@import '../../sass/utils/mixin';

.ritualCarPark {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor);
    flex-direction: column;

    @include mq(tab) {
        color: var(--primaryTextColor);
        background-color: var(--backgroundColor);
    }

    @include mq(desk) {
        color: var(--primaryTextColor);
        background-color: var(--backgroundColor);
    }
}

.ritualCarPark__container {
    width: 280px;
    margin-left: auto;
    margin-right: auto;

    @include mq(tab) {
        width: 700px;
    }
}

.ritualCarPark__title {
    font-family: Open Sans SemiBold;
    font-size: 20px;
    line-height: 1.38;
    margin-bottom: 20px;
    text-align: center;

    @include mq(tab) {
        font-size: 25px;
    }

    @include mq(desk) {
        max-width: 1250px;
    }
}

.ritualCarParkPhotos {
    height: 210px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;

}

.ritualCarParkList__item {
    font-family: Open Sans SemiBold;
    font-size: 20px;
    line-height: 1.38;
    text-align: center;
    margin-bottom: 30px;

    @include mq(tab) {
        font-size: 25px;
    }
}

.ritualCarParkList__name {
    font-family: Open Sans Regular;
    font-size: 20px;
    line-height: 1.38;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

    @include mq(tab) {
        font-size: 25px;
    }
}

.ritualCarParkList__description {
    font-family: Open Sans Regular;
    font-size: 20px;
    line-height: 1.38;
    text-align: center;
    margin-bottom: 20px;

    @include mq(tab) {
        font-size: 25px;
    }
}

.carouselButtonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselButton {
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor);
    outline: 1px solid var(--primaryTextColor);
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    border: none;

    @include mq(tab) {
        font-size: 25px;
        padding: 10px;
    }
}

.carouselButton:active {
    background-color: var(--primaryTextColor);
    color: var(--backgroundColor);
    outline: 1px solid var(--primaryTextColor);
}

.carouselButton:first-child {
    margin-right: 30px;
}

.carouselCenterButtonModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselButtonModal {
    margin: 10px 0px;
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor);
    outline: 1px solid var(--primaryTextColor);
    border-radius: 10px;
    padding: 5px 30px;
    cursor: pointer;
    border: none;
}

.carouselButtonModal:active {
    color: var(--backgroundColor);
    background-color: var(--primaryTextColor);
    outline: 1px solid var(--primaryTextColor);
}

.carouselButtonModal:first-child {
    margin-right: 30px;
}

.ritualCarPark__description {
    font-family: Open Sans Regular;
    font-size: 13px;
    line-height: 1.38;
    margin-bottom: 30px;

    @include mq(tab) {
        font-size: 18px;
    }
}

.ritualCarParkList {
    padding: 30px 0px;
    outline: 1px solid var(--primaryTextColor);

    @include mq(tab) {
        padding: 30px 10px 30px;
    }
}

.modal {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
    background-color: var(--backgroundColor);
    margin: 39% auto;
    border: 1px solid var(--primaryTextColor);
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.close {
    color: var(--primaryTextColor);
    display: flex;
    font-weight: bold;
    margin-right: 10px;
    justify-content: flex-end;
}

.closeModalIcon {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.closeModalIcon:hover,
.closeModalIcon:focus {
    transform: scale(1.2);
    color: red;
    text-decoration: none;
    cursor: pointer;
}