@import '../../sass/utils/mixin';

.team {
  margin-bottom: 30px;

  @include mq(tab) {
  }

  @include mq(desk) {
  }
}

.team__list {
  @include mq(tab) {
  }

  @include mq(desk) {
    column-gap: 21px;
  }
}

.memberCard {
  width: 280px;
  height: 280px;
  text-align: center;
  display: flex;
  outline: 1px solid var(--primaryTextColor);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0px;
  align-content: center;
  justify-content: center;
  align-items: center;

  @include mq(tab) {
    padding: 30px 10px;
    width: 700px;
  }

  @include mq(desk) {
  }

  &:not(:last-child) {
    @include mq(mob-only) {
      margin-bottom: 30px;
    }
  }
}

.memberCard__name {
  font-family: Open Sans SemiBold;
  font-size: 20px;
  line-height: 1.38;
  margin-bottom: 35px;

  @include mq(tab) {
    font-size: 30px;
  }
}

.memberCard__position {
  font-family: Open Sans Regular;
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 35px;

  @include mq(tab) {
    font-size: 20px;
  }
}
