@import '../../sass/utils/mixin';

.team {
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);
  padding-bottom: 20px;
  @include mq(tab) {
  }

  @include mq(desk) {
  }
}

.team__list {
  @include mq(tab) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
  }

  @include mq(desk) {
    column-gap: 21px;
  }
}

.memberCard {
  width: 280px;
  height: 280px;
  text-align: center;
  display: flex;
  outline: 1px solid var(--primaryTextColor);
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 30px;
  align-content: center;
  justify-content: center;
  align-items: center;

  @include mq(tab) {
    width: 223px;
  }

  @include mq(desk) {
    width: 422px;
  }

  &:not(:last-child) {
    @include mq(mob-only) {
      margin-bottom: 30px;
    }
  }
}

.memberCard__content {
}

.memberCard__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;

  color: var(--primaryTextColor);
  margin-bottom: 35px;

  @include mq(tab) {
    font-size: 32px;
    line-height: 1;
  }
}

.memberCard__position {
  font-size: 16px;
  line-height: 1.38;

  color: var(--primaryTextColor);
  margin-bottom: 35px;

  @include mq(tab) {
    font-size: 18px;
    line-height: 1.39;
  }
}
