@import '../../sass/utils/mixin';

.btn__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 40px;
    height: 40px;
  
    border: none;
  
    fill: #fff;
    background-color: var(--backgroundColor);
    cursor: pointer;
  
  }

.menu {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    transform: translate(130%);
    transition: all 0.2s;
    // display: none;
    
}

.active {
    // display: flex;
    transform: translate(0);

}

.menu__content {
    width: 30%;
    height: 100%;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}


ul li a {
    color: #fff;
    font-size: 1.3rem;
}

ul li {
    display: flex;
    align-items: center;
    margin: 10px;
}

ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .menu__content {
        width: 100%;
    }
    .blur {
        backdrop-filter: none;
    }
    
}