@import '../../sass/utils/mixin';

.wreathsPageTitle {
    font-family: Open Sans SemiBold;
    font-size: 20px;
    line-height: 1.38;
    text-align: center;
    margin-bottom: 20px;
    color: var(--primaryTextColor);

    @include mq(tab) {
    font-size: 25px;
    }
}

.freshFlowers {
    margin: 0 auto;
    width: 90px;
    height: 90px;

    @include mq(tab) {
        width: 200px;
        height: 200px;
    }
}

.wreathsLinksTitle {
    font-family: Open Sans SemiBold;
    font-size: 15px;
    line-height: 1.38;
    margin-top: 20px;
    text-align: center;
    color: var(--primaryTextColor);

    @include mq(tab) {
        font-size: 20px;
    }
}

.wreathsPageDescription {
    font-family: Open Sans Regular;
    font-size: 13px;
    line-height: 1.38;
    color: var(--primaryTextColor);
    margin-bottom: 20px;

    @include mq(tab) {
    font-size: 18px;
    }
}

.wreathsContainer {
    padding: 20px;
    background-color: var(--backgroundColor);
}

.wreathsdDescriptionContainer {
    padding: 20px;
    outline: 1px solid var(--primaryTextColor);
    background-color: var(--backgroundColor);

    @include mq(tab) {
        padding: 30px 20px 20px 20px;
    }
}

.wreathsPage__listItem {
    color: var(--primaryTextColor);
    list-style: disc;
    margin-bottom: 10px;
}

.wreathsPage__listItemDescription {
    font-family: Open Sans Regular;
    font-size: 13px;
    line-height: 1.38;

    @include mq(tab) {
        font-size: 18px;
    }
}

.wreathsPage__list {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sectionWreaths {
    background-color: var(--backgroundColor);
    padding-top: 70px;
}

.wreathsPageDescriptionOmega {
    font-weight: 600;
}

.wreathsLinksContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    @include mq(tab) {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
}

.wreathsLinks {
    padding: 10px;
    width: 110px;
    outline: 1px solid var(--primaryTextColor);

    @include mq(tab) {
        padding: 20px;
        width: 300px;
    }

}