@import '../../sass/utils/mixin';

.header__container {
  background-color: var(--backgroundColor);

  @include mq(mob) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    outline: 1px solid var(--primaryTextColor);
    margin-bottom: 1px;
  }

  @include mq(tab) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
