@import '../../sass/utils/mixin';

.sectionFuneralPortrait {
    padding-top: 70px;
}

.funeralPortraitContainer {
    padding: 20px;
}

.funeralPortraitDescriptionContainer {
    padding: 20px;
    outline: 1px solid var(--primaryTextColor);
}

.funeralPortrait__list {
    margin-left: 20px;
    margin-bottom: 20px;
}

.funeralPortrait__listItem {
    font-family: Open Sans Regular;
    list-style: disc;
    margin-bottom: 10px;

    @include mq(tab) {
        margin-bottom: 20px;
    }
}

.funeralPortraitPictureList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;

    @include mq(tab) {
        grid-gap: 20px;
    }
}

.funeralPortraitPictureList_img {
    width: 125px;

    @include mq(tab) {
        width: 340px;
        height: 400px;
    }
}