@import '../../sass/utils/mixin';

.footer__container {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-bottom: 20px;
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);

  @include mq(tab) {
  }

  @include mq(desk) {
  }
}

.footer__title {
  // @include mq(mob) {
  text-align: center;
  font-size: 15px;
  line-height: 1.38;
  // }

  // @include mq(tab) {
  //   text-align: center;
  // }
  // @include mq(desk) {
  //   text-align: center;
  //   width: 1250px;
  // }
}
