@import '../../sass/utils/mixin';

.sectionMonuments {
    background-color: var(--backgroundColor);
    color: var(--primaryTextColor);
    padding-top: 70px;
}

.monumentsContainer {
    padding: 20px;
}

.monumentsDescriptionContainer {
    padding: 10px;
    outline: 1px solid var(--primaryTextColor);

    @include mq(tab) {
        padding: 20px;
    }
}

.monuments__title {
    font-family: Open Sans SemiBold;
    font-size: 20px;
    line-height: 1.38;
    text-align: center;
    margin-bottom: 20px;

    @include mq(tab) {
        font-size: 25px;
    }

}

.monuments__description {
    font-family: Open Sans Regular;
    font-size: 13px;
    line-height: 1.38;
    text-align: inherit;
    margin-bottom: 20px;

    @include mq(tab) {
            font-size: 18px;
        }
}

.monuments__list {
    padding-left: 20px;
    margin-bottom: 20px;
}

.monuments__listItem {
    font-family: Open Sans Regular;
    font-size: 13px;
    line-height: 1.38;
    list-style: disc;
    margin-bottom: 10px;

    @include mq(tab) {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.monuments__listSpan {
    font-family: Open Sans Medium;
    font-size: 18px;
    line-height: 1.38;
    
    @include mq(tab) {
        font-size: 25px;
    }
}

.monuments__pictureList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.monumentsPictureList_img {
    width: 125px;
    height: 190px;
    margin-bottom: 10px;
}

.monumentsPictureList__description {
    font-family: Open Sans Regular;
    font-size: 15px;
    line-height: 1.38;

    @include mq(tab) {
            font-family: Open Sans SemiBold;
            font-size: 20px;
        }
}