.sectionArtificialWreaths {
    background-color: var(--backgroundColor);
    padding-top: 70px;
}

.artificialWreathsContainer {
    padding: 20px;
}

.artificialWreathsDescriptionContainer {
    padding: 10px;
    outline: 1px solid var(--primaryTextColor);
}

.artificialWreath__title {
    text-align: center;
    font-family: Open Sans SemiBold;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--primaryTextColor);

}

.artificialWreath__description {
    font-family: Open Sans Regular;
    font-size: 15px;
    text-align: inherit;
    color: var(--primaryTextColor);
    padding-bottom: 20px;
}

.artificialWreath__list {
    padding-left: 20px;
    margin-bottom: 20px;
}

.artificialWreath__listItem {
    font-family: Open Sans Regular;
    color: var(--primaryTextColor);
    list-style: disc;
    margin-bottom: 10px;
}

.artificialWreath__listSpan {
    font-weight: 600;
}

.artificialWreath__pictureList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.artificialWreathPictureList_img {
    width: 125px;
    height: 190px;
    padding-bottom: 10px;
}

.artificialWreathPictureList__description {
    font-family: Open Sans Regular;
    font-size: 15px;
    text-align: inherit;
    color: var(--primaryTextColor);
    text-align: center;
}