@import '../../sass/utils/mixin';

.sectionArtificialWreaths {
    padding-top: 70px;
}

.artificialWreathsContainer {
    padding: 20px;
}

.artificialWreathsDescriptionContainer {
    padding: 10px;
    outline: 1px solid var(--primaryTextColor);

    @include mq(tab) {
        padding: 20px;
    }
}

.artificialWreath__list {
    margin-left: 20px;
    margin-bottom: 20px;
}

.artificialWreath__listItem {
    list-style: disc;
}

.artificialWreath__pictureList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    
    @include mq(tab) {
        grid-gap: 20px;
    }
}

.artificialWreathPictureList_img {
    width: 125px;
    height: 190px;
    margin-bottom: 10px;

    @include mq(tab) {
        width: 320px;
        height: 500px;
    }

    @include mq(desk) {
        width: 630px;
        height: 820px;
    }
}