.sectionCoffinsWreaths {
    background-color: var(--backgroundColor);
    padding-top: 70px;
}

.coffinsContainer {
    padding: 20px;
}

.coffinsDescriptionContainer {
    padding: 10px;
    outline: 1px solid var(--primaryTextColor);
}

.coffins__title {
    text-align: center;
    font-family: Open Sans SemiBold;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--primaryTextColor);

}

.coffins__description {
    font-family: Open Sans Regular;
    font-size: 15px;
    text-align: inherit;
    color: var(--primaryTextColor);
    padding-bottom: 20px;
}

.coffins__list {
    padding-left: 20px;
    margin-bottom: 20px;
}

.coffins__listItem {
    font-family: Open Sans Regular;
    color: var(--primaryTextColor);
    list-style: disc;
    margin-bottom: 10px;
}

.coffins__listSpan {
    font-weight: 600;
}

.coffins__pictureList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.coffinsPictureList__img {
    width: 125px;
}

.coffinsPictureList__description {
    font-family: Open Sans Regular;
    font-size: 15px;
    text-align: inherit;
    color: var(--primaryTextColor);
    text-align: center;
}

.coffins__descriptionlast {
    font-family: Open Sans Regular;
    font-size: 15px;
    text-align: inherit;
    color: var(--primaryTextColor);
    padding-top: 20px;
}