@import '../../sass/utils/mixin';

.sectionDecorations {
    padding-top: 70px;
}

.decorationsContainer {
    padding: 40px 20px 20px 20px;
}

.decorationsDescriptionContainer {
    padding: 20px;
    outline: 1px solid var(--primaryTextColor);
}

.decorations__list {
    margin-left: 20px;
    margin-bottom: 20px;
}

.decorationsPictureList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;

    @include mq(tab) {
        grid-gap: 20px;
    }
}

.decorationsPictureList_img {
    width: 125px;
    height: 175px;

    @include mq(tab) {
        width: 340px;
        height: 450px;
    }

    @include mq(desk) {
        width: 620px;
        height: 800px;
    }
}